*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/book.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f49e36;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 54px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f49e36;
    background: #f49e36;
    transition: 0.5s;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities h1{
    font-size: 40px;
    font-weight: 600;
}
.facilities p{
    color: #d67b0c;
    font-size: 16px;
    font-weight: 60px;
    padding-top: 10px;
    padding-bottom: 75px;
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    margin: 0 auto;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
}
.facilities-col img{
    height: 450px;
    width: 75%;
    border-radius: 10px;
}
.facilities-col{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.facilities-col p{
    color: #565452c8;
    font-size: 16px;
    font-weight: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.book{
    display: inline-block;
    text-decoration: none;
    color: rgb(14, 14, 14);
    border: 1px solid rgb(14, 14, 14);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
}
.book:hover{
    border: 1px solid #f49e36;
    background: #f49e36;
    transition: 0.5s;
}
.contactus{
    margin: 100px auto;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/lib.jpg); ;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.contactus h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: 600;
}
.fa {  
  padding: 20px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 30px;  
  width: 50px;  
}  
.fa-twitter {   
    color: #f49e36; 
}
.fa-linkedin {   
    color: #f49e36; 
}
.fa-instagram {   
    color: #f49e36; 
}
.fa-heart-o{
    padding: 0;
}






